$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #EFECE7 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #9B9893 !default;
$gray-700: #707070 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000400 !default;

$primary: #03438D !default;
$secondary: #EEC32A !default;
$success: #83C51D !default;
$danger: #F57375 !default;
$light: #EFECE7 !default;
